@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">
    <h1>Decision</h1>
    <p class="lead">Hello User.Name</p>
    <p class="lead">What would you like to do?</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->

<div class="row">
    <div class="col-md-4">
        <h2>Should I topic1 or topic2</h2>
        <p class="author-name">By User Article.Owner.Name</p>
    </div>
    <div class="col-md-4">
        <h2>Should I topic1 or topic2</h2>
        <p class="author-name">By User Article.Owner.Name</p>
    </div>
    <div class="col-md-4">
        <h2>Should I topic1 or topic2</h2>
        <p class="author-name">By User Article.Owner.Name</p>
    </div>
    <div class="col-md-4">
        <h2>Should I topic1 or topic2</h2>
        <p class="author-name">By User Article.Owner.Name</p>
    </div>
    <div class="col-md-4">
        <h2>Should I topic1 or topic2</h2>
        <p class="author-name">By User Article.Owner.Name</p>
    </div>
    <div class="col-md-4">
        <h2>Should I topic1 or topic2</h2>
        <p class="author-name">By User Article.Owner.Name</p>
    </div>
</div>